/* VARIABLES (START) */

:root {
	--color01: #f39c12;
	--color02: #0d0d0d;
	--color03: #e6e6e6;
	--color04: #999999;
	--color05: #737373;
	--color06: #f2f2f2;
	--color07: #808080;
	--color08: #000000;
	--color09: #b7b7b7;
	--color10: #595959;
	--color11: #4d4d4d;
	--color12: #e8f8f4;
	--color13: #f7f7f7;
	--color14: #cccccc;
	--color15: #c7c7c7;
	--color16: #d9d9d9;
	--color17: #e74c3c;
	--color18: #1a1a1a;
	--color19: #00ce9b;
	--color20: #614261;
	--color21: #3c44e7;
	--color22: #fafafa;
	--color23: #f0f0f0;
	--color24: #34495e;
	--color25: #a6a6a6;
}

/* VARIABLES (END) */

/* TEXT MIXINS (START) */

.text{margin: 0;}

.text_tt-uper {text-transform: uppercase;}

.text_ta-center {text-align: center;}

.text_fs-italic {font-style: italic;}

.text_ff-lato { font-family: 'Lato', sans-serif;}
.text_ff-montserrat { font-family: 'Montserrat', sans-serif;}
.text_ff-pacifico { font-family: 'Pacifico', cursive;}

.text_fw-300 {font-weight: 300;}
.text_fw-400 {font-weight: 400;}
.text_fw-600 {font-weight: 600;}
.text_fw-700 {font-weight: 700;}

.text_ls-m04 {letter-spacing: -0.4px;}
.text_ls-m09 {letter-spacing: -0.9px;}
.text_ls-m24 {letter-spacing: -2.4px;}
.text_ls-m42 {letter-spacing: -4.2px;}
.text_ls-m028 {letter-spacing: -0.28px;}
.text_ls-m032 {letter-spacing: -0.32px;}

.text_color-fff{color: #fff;}
.text_color-active{color: var(--active-color);}
.text_color-02{color: var(--color02);}
.text_color-04{color: var(--color04);}
.text_color-05{color: var(--color05);}
.text_color-07{color: var(--color07);}
.text_color-10{color: var(--color10);}
.text_color-11{color: var(--color11);}
.text_color-17{color: var(--color17);}
.text_color-25{color: var(--color25);}

.text_fz-13 {font-size: 13px;}
.text_fz-14 {font-size: 14px;}
.text_fz-15 {font-size: 15px;}
.text_fz-16 {font-size: 16px;}
.text_fz-18 {font-size: 18px;}
.text_fz-20 {font-size: 20px;}
.text_fz-22 {font-size: 22px;}
.text_fz-24 {font-size: 24px;}
.text_fz-25 {font-size: 25px;}
.text_fz-30 {font-size: 30px;}
.text_fz-40 {font-size: 40px;}
.text_fz-45 {font-size: 45px;}
.text_fz-70 {font-size: 70px;}

.text_lh-20{line-height: 20px;}
.text_lh-22{line-height: 22px;}
.text_lh-24{line-height: 24px;}
.text_lh-25{line-height: 25px;}
.text_lh-26{line-height: 26px;}
.text_lh-28{line-height: 28px;}
.text_lh-32{line-height: 32px;}
.text_lh-33{line-height: 33px;}
.text_lh-45{line-height: 45px;}
.text_lh-60{line-height: 60px;}
.text_lh-80{line-height: 80px;}
.text_lh-114{line-height: 114px;}

/* TEXTS MIXINS (END) */

/* ICONS MIXINS (START) */

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    flex-shrink: 0;
}
.icon_bgc-color01 {background-color: var(--color01);}
.icon_bgc-color02 {background-color: var(--color02);}

.icon_fill-color01 {fill: var(--color01);}
.icon_fill-000 {fill: #000;}
.icon_fill-fff {fill: #fff;}
.icon_fill-color04 {fill: var(--color04);}

.icon_bdc-color01 {border-color: var(--color01);}
.icon_bdc-color03 {border-color: var(--color03);}
.icon_bdc-colorFFF {border-color: #fff;}
.icon_bdc-none {border: none;}

.icon_size-32 {width: 32px;height: 32px;}
.icon_size-34 {width: 34px;height: 34px;}
.icon_size-40 {width: 40px;height: 40px;}
.icon_size-100 {width: 100px;height: 100px;}
.icon_size-125 {width: 125px;height: 125px;}
.icon_size-105 {width: 105px;height: 105px;}
.icon_size-170 {width: 170px;height: 170px;}
.icon_size-200 {width: 200px;height: 200px;}

.svg-size18 {width: 18px; height: 18px;}
.svg-size19 {width: 19px; height: 19px;}
.svg-size25 {width: 25px; height: 25px;}
.svg-size27 {width: 27px; height: 27px;}
.svg-size32 {width: 32px; height: 32px;;}
.svg-size40 {width: 40px; height: 40px;}
.svg-size62 {width: 62px; height: 62px;}

/* ICONS MIXINS (END)*/

/* SOCNET MIXINS (START) */ 

.socNet{display: flex; justify-content: space-between;}

.socNet_fill-color04 > .socNet_a {fill: var(--color04);}
.socNet_fill-color02 > .socNet_a {fill: var(--color02);}

.socNet_a-fill-color3 {fill: var(--text-color-3)}
.socNet_a-fill-color5 {fill: var(--text-color-5)}

.socNet_a :hover {fill: var(--color01);}
.socNet_size-s { width: 148px;}
.socNet_size-l { width: 246px;}

.link_twitter {position: relative;top: -0.15em;width: 1.23em;height: 1.23em;}
.link_facebook {width: 1em;height: 1em;}
.link_linkedIn {position: relative;bottom: .3em;width: 1.38em;height: 1.38em;}
.link_dribble {position: relative;bottom: 0.1em;width: 1.2em;height: 1.2em;}
.link_printerest {width: 1.15em;height: 1.15em;}
.link_googlePlus {position: relative;bottom: 0.06em;width: 1.2em;height: 1.2em;}
.link_rss {width: 1em;height: 1em;}

/* SOCNET MIXINS (END) */ 

/* BREAK DIV MIXINS (START) */

.breakDiv {height: 4px;}

.breakDiv_size-s{width: 20px;}
.breakDiv_size-l{width: 50px;}

.breakDiv_color-color01 {background-color: var(--color01);}
.breakDiv_color-color14 {background-color: var(--color14);}

/* BREAK DIV MIXINS (END) */

/* BUTTON MIXINS (START) */

.button {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	text-transform: uppercase;
	cursor: pointer;
}

.button-hoverable:hover{
	background-color: var(--color01);
	border-color: var(--color01);
	color: #fff;
}

.button_size-l{width: 160px;height: 42px; font-size: 15px; font-weight: 400;}
.button_size-m{width: 130px;height: 38px; font-size: 14px; font-weight: 400;}
.button_size-s{width: 105px;height: 35px; font-size: 13px; font-weight: 700;}

.button_textColor-fff {color: #fff;}
.button_textColor-02 {color: var(--color02);}

.button_backgroundColor-01 {background-color: var(--color01);}

.button_borderColor-01 {border-color: var(--color01);}
.button_borderColor-fff {border-color: #fff;}

/* BUTTON MIXINS (END) */