/* TEXT MARKUP (START) */

.text{margin: 0;}
.text_tt-uper {text-transform: uppercase;}

.text_fz-13 {font-size: 13px;}
.text_fz-14 {font-size: 14px;}
.text_fz-15 {font-size: 15px;}
.text_fz-16 {font-size: 16px;}
.text_fz-18 {font-size: 18px;}
.text_fz-20 {font-size: 20px;}
.text_fz-22 {font-size: 22px;}
.text_fz-25 {font-size: 25px;}
.text_fz-30 {font-size: 30px;}
.text_fz-40 {font-size: 40px;}
.text_fz-45 {font-size: 45px;}
.text_fz-70 {font-size: 70px;}

.text_fw-300 {font-weight: 300;}
.text_fw-400 {font-weight: 400;}
.text_fw-600 {font-weight: 600;}
.text_fw-700 {font-weight: 700;}

.text_lh-20{line-height: 20px;}
.text_lh-22{line-height: 22px;}
.text_lh-24{line-height: 24px;}
.text_lh-25{line-height: 25px;}
.text_lh-26{line-height: 26px;}
.text_lh-28{line-height: 28px;}
.text_lh-32{line-height: 32px;}
.text_lh-33{line-height: 33px;}
.text_lh-28{line-height: 45px;}
.text_lh-60{line-height: 60px;}
.text_lh-80{line-height: 80px;}
.text_lh-114{line-height: 114px;}

.text_color-fff{color: #fff;}
.text_color-active{color: var(--active-color);}
.text_color-1{color: var(--text-color-1);}
.text_color-2{color: var(--text-color-2);}
.text_color-3{color: var(--text-color-3);}
.text_color-4{color: var(--text-color-4);}
.text_color-5{color: var(--text-color-5);}
.text_color-6{color: var(--text-color-6);}
.text_color-7{color: var(--text-color-7);}
.text_color-8{color: var(--text-color-8);}

.text_ls-m09 {letter-spacing: -0.9px;}
.text_ls-m24 {letter-spacing: -2.4px;}
.text_ls-m42 {letter-spacing: -4.2px;}
.text_ls-m028 {letter-spacing: -0.28px;}
.text_ls-m032 {letter-spacing: -0.32px;}

.text_ff-lato { font-family: 'Lato', sans-serif;}
.text_ff-montserrat { font-family: 'Montserrat', sans-serif;}
.text_ff-pacifico { font-family: 'Pacifico', cursive;}

.text_fs-italic {font-style: italic;}

/* TEXTS MARKUP (END) */