/* ICONS MARKUP (START) */

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    flex-shrink: 0;
}

.icon_size-34 {width: 34px;height: 34px;}
.icon_size-40 {width: 40px;height: 40px;}
.icon_size-100 {width: 100px;height: 100px;}
.icon_size-125 {width: 125px;height: 125px;}
.icon_size-105 {width: 105px;height: 105px;}
.icon_size-170 {width: 170px;height: 170px;}
.icon_size-200 {width: 200px;height: 200px;}

.icon_fill-activeColor {fill: var(--active-color);}
.icon_fill-000 {fill: #000;}
.icon_fill-fff {fill: #fff;}

.icon_bdc-activeColor {border-color: var(--active-color);}
.icon_bdc-borderColor1 {border-color: var(--border-color1);}
.icon_bdc-fff {border-color: #fff;}
.icon_bdc-none {border: none;}

.icon_bgc-borderColor3 {background-color: var(--border-color3);}
.icon_bgc-activeColor {background-color: var(--active-color);}

.icon_boxShadowCustom{box-shadow: inset 0 0 0 4px var(--border-color3);}
.icon_customHoverable:hover {color: #fff;background-color: var(--active-color);}

.svg-size18 {width: 18px; height: 18px;}
.svg-size19 {width: 19px; height: 19px;}
.svg-size25 {width: 25px; height: 25px;}
.svg-size27 {width: 27px; height: 27px;}
.svg-size32 {width: 32px; height: 32px;;}
.svg-size40 {width: 40px; height: 40px;}
.svg-size62 {width: 62px; height: 62px;}


/* ICONS MARKUP (END)*/