/* GLOBAL MARKUP (START) */

.wrapper {
	width: 1970px;
	margin: 0 auto;
	outline: 1px solid red;
	font-family: 'Open Sans', sans-serif;
}

.wideBlock {
	background: url(../img/jungle_bg.png) no-repeat center;
	margin: 100px 0;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.narrowBlock {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* GLOBAL MARKUP (END) */

/* HEADING MARKUP (START) */

.heading {
	display: flex;
}

.heading__header {
	padding-right: 15px;
	width: 185px;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: center;
}

.heading__description {
	border-left: 4px solid var(--active-color);
	padding-left: 15px;
}

/* HEADING MARKUP (END) */

/* ABOUT (START) */

.about_ourStory {
	margin-top: 150px;
	padding-bottom: 120px;
	border-bottom: 2px solid var(--border-color1);
}

.ourStory {
	display: flex;
}

.ourStory_text {
	margin-left: 30px;
	margin-right: 65px;
}

.ourStory_text span {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.ourSkills {
	display: flex;
	margin-top: 120px;
}

.skillsDescription_text {
	display: flex;
}

.ourStory_bar {
	width: 553px;
	height: 10px;
}

.ourStory_bar-1 {
	background-image: linear-gradient(to right, #f39c12 0%, var(--border-color1) 88%, var(--border-color1) 100%);
}

.ourStory_bar-2 {
	background-image: linear-gradient(to right, #f39c12 0%, var(--border-color1) 76%, var(--border-color1) 100%);
}

.ourStory_bar-3 {
	background-image: linear-gradient(to right, #f39c12 0%, var(--border-color1) 81%, var(--border-color1) 100%);
}

.ourStory_bar-4 {
	background-image: linear-gradient(to right, #f39c12 0%, var(--border-color1) 71%, var(--border-color1) 100%);
}

/* ABOUT (END) */