

/* GLOBAL MARKUP (START) */

.wrapper {
	width: 1970px;
	margin: 0 auto;
	outline: 1px solid red;
	font-family: 'Open Sans', sans-serif;
}

.wideBlock {
	background: url(../img/jungle_bg.png) no-repeat center;
	margin: 100px 0;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.narrowBlock {
	width: 1132px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

/* GLOBAL MARKUP (END) */

/* TEST MARKUP (START) */

.TEST {
	outline: 1px solid red;
	display: block;
	background: none;
	/* background-color: rgb(235, 220, 227); */
}

.TEST .ICONS {
	outline: 1px solid red;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.TEST .TEXTS {
	outline: 1px solid red
}

/* TEST MARKUP (END) */

/* HEADING MARKUP (START) */

.heading {
	display: flex;
	outline: 1px solid red;
}

.heading__header {
	padding-right: 15px;
	width: 185px;
	display: flex;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: center;
}

.heading__description {
	border-left: 4px solid var(--active-color);
	padding-left: 15px;
}

/* HEADING MARKUP (END) */



