/* VARIABLES (START) */

:root {
	--active-color: #f39c12;
	--border-color1: #e6e6e6;
	--border-color2: #f2f2f2;
	--border-color3: #e8f8f4;
	--photo-bg-color: #b7b7b7;
	--team-unactive-color: #cccccc;
	--text-color-1: #e74c3c;
	--text-color-2: #737373;
	--text-color-3: #0d0d0d;
	--text-color-4: #4d4d4d;
	--text-color-5: #999999;	
	--text-color-6: #595959;
	--text-color-7: #808080;
	--text-color-8: #8c8c8c;
	--text-color-9: #bfbfbf;
	--text-color-10: #f0f0f0;
}

/* VARIABLES (END) */